<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    templates home1
    <h1>hahaha哈哈哈</h1>
    <button id="dw" >点我</button>
    <button id="btn">btn</button>
</body>
</html>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script>
    $("#btn").click(function () {
        console.log("btn click");
        alert("你好，南南！");
    });
    $("#dw").click(function () {
        console.log("点我click");
        alert("你好，南南！！！");
    });
</script>