<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--所有的配置都可以通过application.properties配置解决-->
<configuration>
    <!--引入外部资源文件-->
    <!--<properties resource="jdbc.properties" />-->

    <!--Settings 一些全局属性，例如是否使用驼峰匹配、缓存、延迟加载等等-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="true" />
        <setting name="jdbcTypeForNull" value="OTHER" />
    </settings>

    <!--设置entity、model中java实体类别名，主要是用于resultMap中的type或resultType用别名即可，不需要使用全限定名，
        type:要起别名类型的全类名；默认别名就是类名小写
        alias:指定新的别名 不区分大小写
        主要有三种方式-->
    <typeAliases>
        <!--不指定alias,默认别名-->
        <!--<typeAlias type="Lioaner" alias="loer" />-->
        <!--package 包扫描，默认别名-->
        <!--当启用了包扫描，可以在指定类上使用@Alias("loer")指定别名-->
        <!--<package name="cn.com.lioan.springboot2.dao.model" />-->
    </typeAliases>

    <!--environments 配置环境：可以配置多个jdbc环境，设置一个默认值，每个环境都有一个唯一的ID-->
    <!--dataSource 配置连接信息,可以写死也可以引用外部properties文件-->
    <!--<environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClass}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>-->

    <!--<mappers>
        <mapper resource="mybatis/mapping/LioanerMapper.xml" />
    </mappers>-->
</configuration>